h1 {
  background-color: #fceedc;
  color: #000;
  font: 600 50px / 1.4 'Roboto Mono', monospace;
  padding-top: 30px;
  text-align: center;
}

.top-text {
  display: block;
  font-size: 30px;
}

h2 {
  background-color: #fceedc;
  font: 600 50px / 1.4 'Roboto Mono', monospace;
  padding-bottom: 26px;
  padding-top: 26px;
  position: sticky;
  top: -20px;
  text-align: center;
}

h2 a {
  color: #ef662b;
  text-decoration: none;
}
