main {
  font: 400 18px / 2 Montserrat, sans-serif;
}

h1 {
  background-color: #fceedc;
  color: #222;
  font: 600 60px / 1.4 'Roboto Mono', monospace;
  padding-top: 30px;
  text-align: center;
}

.top-text {
  display: block;
  font-size: 30px;
}

h2 {
  background-color: #fceedc;
  font: 600 50px / 1.4 'Roboto Mono', monospace;
  padding-bottom: 26px;
  padding-top: 26px;
  position: sticky;
  top: -20px;
  text-align: center;
}

h2 a {
  color: #ef662b;
  text-decoration: none;
}

h3 {
  color: #ef662b;
  font: 600 50px / 1.4 'Roboto Mono', monospace;
  padding-top: 30px;
  padding-left: 50px;
}

nav {
  background-color: #111;
  text-align: center;
  font-size: 18px;
  padding: 30px;
  line-height: 40px;
}

nav a {
  color: #fceedc;
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.anchor {
  display: block;
  position: relative;
  top: -122px;
}

h3 {
  margin: 30px 86px;
}

p {
  font-size: 20px;
  color: #222;
}

.right {
  margin-left: 480px;
  padding-top: 20px;
  padding-right: 110px;
}

.solid {
  background-color: #fceedc;
  padding-bottom: 110px;
  margin-top: -50px;
  padding-top: 20px;
}

#first {
  padding-top: 30px;
  padding-bottom: 110px;
  background-image: url('https://live.staticflickr.com/6158/6168027972_bd2c3c2859_k.jpg');
  background-repeat: no-repeat;
}

#first p {
  background-color: rgba(252, 238, 220, .9);
  padding: 20px 30px;
  border-radius: 10px;
}

#third {
  padding-top: 30px;
  padding-bottom: 110px;
  background-image: url('https://live.staticflickr.com/6170/6167495439_e959567236_k.jpg');
  background-repeat: no-repeat;
}

#third p {
  background-color: rgba(252, 238, 220, .9);
  padding: 20px 30px;
  border-radius: 10px;
}

#fifth {
  padding-top: 30px;
  padding-bottom: 110px;
  background-image: url('https://live.staticflickr.com/6152/6167491525_182d7df121_k.jpg');
  background-repeat: no-repeat;
  background-position: right;
}

#fifth p {
  background-color: rgba(252, 238, 220, .9);
  padding: 20px 30px;
  border-radius: 10px;
}

}
